---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import KeyVisual from '../../components/top/KeyVisual.astro';

---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<KeyVisual />
	<h1>Blog</h1>
	<p>Welcome to the blog section. Here you will find various articles and posts.</p>
	<p>Stay tuned for more updates!</p>

</Layout>
