---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION, JOB_TITLE } from '../consts.js';
// import timeline from '../components/about/timeline.astro';
import Timeline from '../components/about/timeline.astro';



const myName = 'Meguim Izu';
---

<Layout title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>

	<main class="page-container">
		<h1 class="gradient-text page-title">About</h1>

		<div class="profile">
			<img src="src/assets/blog-placeholder-about.jpg" alt="Izu" class="profile-image" />
			<div class="profile-info">
				<h2>{myName}</h2>
				<p class="job-title">{JOB_TITLE}</p>
			</div>
		</div>

		<section class="introduction">
			<h3>プロフィール</h3>
			<p>19xx年6月24日生まれ、東京都八王子市出身。</p>
			<p>イギリスから帰国後、スキルを活かしてフリーランスエンジニアとして活動を開始。<br>日本に住む外国人との交流を深めるため、様々な<a href="https://example.com" target="_blank" rel="noopener">ボランティア活動</a>に参加しています。</p>
		</section>

		<section class="experience">
			<h3>経歴</h3>

			<Timeline date="2024年" title="フリーランスエンジニアとして活動開始">
				<p>エンジニアとしてのスキルを磨きながら、ボランティア活動を通じて地域社会に貢献しています。</p>
			</Timeline>
      <Timeline date="2020年 - 2023年" title="イギリスでの留学生活">
				<p>イギリスでの留学生活を通じて、様々な文化や価値観に触れ、視野を広げることができました。</p>
			</Timeline>
			<Timeline date="2015年 - 2019年" title="八王子大学での学び">
				<p>八王子大学での学びを通じて、専門的な知識と技術を身につけました。</p>
			</Timeline>

		</section>
		</main>
	</Layout>
<style>
	.profile {
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
	}
	.profile-image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 2rem;
	}
	.profile-info h2 {
		font-size: 1.75rem;
	}
	.job-title {
		font-size: 1.2rem;
		color: var(--secondary-color);
		margin-bottom: 0;
	}
	section {
		margin-bottom: 3rem;
	}
	h3 {
		font-size: 1.5rem;
		color: var(--primary-color);
	}


</style>
